@charset "utf-8";
/* reset */
html, body {height: 100%; box-sizing: border-box;}
body {position: relative; margin: 0; padding:0; height: 100%; box-sizing: border-box;  overflow-x:hidden;}
div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,p,th,td{margin:0;padding:0; box-sizing: border-box;}
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary {display:block}
body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,button,select,nav,menu{font-family: "pretendard", sans-serif;-webkit-text-size-adjust:none;-moz-text-size-adjust:none;-ms-text-size-adjust:none; box-sizing: border-box;} /* 폰트 프리텐다드 */
dl,ul,ol,menu,li{list-style:none; list-style-type:none; }
address,caption,cite,code,dfn,em,var{font-style:normal;font-size:1.4rem;}
a{color: inherit;text-decoration:none;background:transparent;}
a:focus,a:active,a:hover{text-decoration:none}
table{width:100%; border-collapse:collapse;border-spacing:0;}
th,td{padding:0; word-break:break-all;}
img {border:0 none; vertical-align:middle; }
caption{overflow:hidden;width:0;height:0;font-size:0;line-height:0}
/* form */
textarea::-webkit-input-placeholder,
input::-webkit-input-placeholder,
textarea::-moz-placeholder,
input::-moz-placeholder,
textarea:-ms-input-placeholder,
input:-ms-input-placeholder {color:#888}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button{height:auto}
input[type=text],
input[type=password],
input[type=tel],
input[type=number],
input[type=email],
input[type=url]{padding: 1.2rem 1rem 1.2rem 1rem; background:#fff;color:#4d4d4d;vertical-align: middle;  border:1px solid #2b2b2b;}
input[type=button],
input[type=submit]{cursor: pointer;}
input[type=file]{padding:1.2rem 1rem 1.2rem 1rem;background:#fff;color:#4d4d4d;cursor:pointer;}
input[type=text]:read-only,
input[type=password]:read-only,
input[type=tel]:read-only,
input[type=number]:read-only,
input[type=email]:read-only,
input[type=url]:read-only,
input[type=file]:read-only{border:0.100rem solid #e1e2e2;color:#4d4d4d;}
input[readonly],input[disabled]{border:0.100rem solid #e1e2e2;color:#4d4d4d; background: #e9e9e9;}
input[type=checkbox]{width:1.500rem !important;height:1.500rem !important;margin-right:0.300rem; vertical-align:middle; cursor: pointer;}
input[type=radio]{width:1.500rem !important;height:1.500rem !important;margin-right:0.300rem; vertical-align:middle; margin-top:0rem; cursor: pointer;}
input[type=radio]{vertical-align: middle}
input {width: 100%;}
select{width: 100%; padding:1.1rem 1rem 1.1rem 1rem; border:1px solid #2b2b2b;} 
select::-ms-expand {display: none;}
select[disabled] {border:0.100rem solid #e5e5e5;background:#f1f1f1;color:#4d4d4d}
textarea{width:100%;padding:0.500rem 0.700rem;color:#4d4d4d;border:0.100rem solid #e1e2e2; overflow-x: hidden}
button{cursor:pointer;border: 0; background-color:transparent;}
