@charset "utf-8";
/* CSS Document */

/* 서브_공통화면 */
.title_bg_active {transition:0.5s; background-size: 105% !important;}
.choice_td_bg td {background: #f3ebeb !important;font-weight: bold;color: #5248a3;}

/* breadcrumb nav */
.sub_breadcrumbs_area {width: 100%; border-bottom:0.1rem solid #e9e9e9; background: #fff; padding:0rem 3rem;}
.sub_bread_nav {max-width: 140rem; margin:0 auto;}
.sub_bread_nav ul {display: flex; flex-wrap: wrap; align-items: center;}
.sub_bread_nav ul li {position: relative; width: 15%; margin-right: 2rem; padding-right:2rem;}
.sub_bread_nav ul li a {display: block; padding: 2rem 0rem; font-size:1.6rem;}
.sub_bread_nav ul li a:hover {color: #8b4a4a;text-decoration: underline;text-underline-offset: 10px;}
.sub_bread_nav ul li a:after {content: "\e940"; position: absolute; top:50%; right:0%; transform:translate(0%,-50%); font-family : xeicon;}
.sub_bread_nav ul li:first-child {padding-left:2.5rem;}
.sub_bread_nav ul li:first-child:before {content: "\e902";font-family: "xeicon"; position: absolute; top:49%; left:0%; transform: translate(0%,-50%); font-size: 2rem;}
.sub_bread_nav ul li:first-child:hover:before {color: #8b4a4a;}
/* 서브_공통화면_검색 및 필터영역 */
.search_list_wrap {max-width: 140rem; margin:3rem auto;}
.search_list {box-shadow:0rem 0rem 1.5rem 0.1rem rgb(0 0 0 / 15%);}
.search_list .search_bar {display: flex;}
.search_list .search_bar div {width: 100%; height: 6rem;}
.search_list .search_bar div button {display: block; width: 100%; height: 100%; font-size:1.8rem;}
.search_list .search_bar div input {height: 100%; font-size:1.8rem; border:none;}
.search_list .search_bar div:nth-child(1) {width: 15%; min-width: 15rem; border-right:0.1rem solid #dddddd;}
.search_list .search_bar div:nth-child(2) {width: 100%; margin:0rem 1.5%;}
.search_list .search_bar div:nth-child(3) {width: 10%; min-width: 10rem;}
.btn_search_filter button {transition:all 0.2s ease-in-out;}
.btn_search_filter button:hover {background: #8b4a4a;color:#fff;}
.btn_search_filter span {position: relative; padding-left:2.5rem;}
.btn_search_filter span:before {content: "\eb38"; font-family: xeicon; font-weight: 500; font-size:2rem; position: absolute; top:50%; left:0%; transform: translate(0%,-50%);}
.btn_search {background: #111; color:#fff; transition:all 0.2s ease-in-out;}
.btn_search i {color:#fff; font-size:3rem; transition:all 0.2s ease-in-out;}
.btn_search:hover {background: #8b4a4a;}
.search_filter_wrap {display: none;}
.search_filter {position: relative; padding:4rem; border-top: 0.1rem solid #dddddd}
.search_filteractive {display: block;}	
.search_fil_listarea {margin:1rem 0rem;}
.search_fil_listarea .search_fil_cont:first-child {border-top:0.1rem solid #111111;}
.search_data_total {font-size:2rem; padding: 1rem 0rem;}
.search_data_total b {font-size:2.3rem;}
.search_fil_cont {display: flex; padding: 1.5rem 0rem; border-bottom:0.1rem solid #dddddd;}
.search_fil_cont h3 {font-size:1.8rem; font-weight: 500; align-items: center; display: flex; width: 10%; min-width: 13rem; margin-right: 1rem;}
.search_fil_list {width: 100%;}
.search_fil_list input {width: 100%; height: 100%; font-size:1.8rem; border:none;}
.search_fil_list button {border:0.1rem solid #dddddd; padding: 1rem 1.5rem; font-size:1.6rem; margin: 0.5rem 0.5rem; transition:all 0.2s ease-in-out;}
.search_fil_list button:hover {transform: translateY(-0.4rem);background: #8b4a4a;color:#fff;border: 0.1rem solid #8b4a4a;}
.search_fil_list button:hover span {color:#fff;transition:all 0.1s;}
.search_fil_list button span {position: relative;color: #d73f3f;padding-left:2rem;font-weight: 500;}
.search_fil_list button span:before {content: ""; position: absolute; top:50%; left:0%; transform: translate(0%,-50%); margin-left:0.9rem; width: 0.1rem; height: 70%; background: #dddddd;}
.filter_active {background: #8b4a4a;color:#fff;border: 0.1rem solid #8b4a4a;}
.filter_active span {color:#fff !important;}
.search_fil_tag {margin:3rem 0rem;}
.search_fil_tag button {border:0.1rem solid #dddddd; padding: 1rem 1.5rem; font-size:1.6rem; margin: 0.5rem 0.5rem 0.5rem 0rem; transition:all 0.2s ease-in-out;}
.search_fil_tag button:after {content: "\e921"; font-family : xeicon; font-weight: bold; font-size: 1.4rem; margin-left:1rem;}
.search_fil_tag button:hover {transform: translateY(-0.4rem);background: #8b4a4a;}
.search_fil_btnbox {text-align: center; margin-top:3rem;}
.search_fil_btnbox button {min-width: 15rem; padding:1.5rem 3rem; font-size:1.8rem; margin:0rem 0.5rem; transition:all 0.2s ease-in-out;}
.search_fil_btnbox button:hover {transform: translateY(-0.4rem);}
.search_fil_close {position: absolute; top:3rem; right:3%;}

/* 서브_공통화면_총 수 및 조건설정 영역 */
.board_condition_area {position: relative;}
.board_condition_area:after {content: ""; position: absolute; bottom: 0rem; left:0rem; width: 110%; transform: translateX(-5%); border-bottom: 0.2rem solid #111;}
.board_condition {max-width: 140rem; margin:0 auto; padding: 2.5rem 0rem; display: flex; align-items: center;}
.board_condition_left {width: 50%;}
.board_condition_right {width: 50%;}
.bo_con_total {font-size:1.8rem;}
.bo_con_total b {margin-left:1rem;}
.bo_con_condition {display: flex; justify-content: flex-end;}
.bo_con_condition ul {display: flex;}
.bo_con_condition ul li {display: flex; margin-left:0.5rem;}
.bo_con_condition select {border-color:#cecece;}
.bo_con_condition input {font-size: 1.6rem;}
.view_type_active {background:#111 !important; color:#fff !important;}
.btn_condition_view button {border:0.1rem solid #cecece; border-right:none; color:#cecece; width: 5rem; font-size:3rem;}
.btn_condition_view button:last-child {border-right:0.1rem solid #cecece;}
.after_none:after {display: none !important;}
.btn_condition_view button:hover {color:#d10000; background: #F5F5F5}
/* 소개 */
.sub_title_area {background:url("../images/sub/sub_bg_basics.jpg") 0% 40% no-repeat;padding: 12rem 3rem 5rem 3rem;background-size: 100%;}
.sub_bg1 {background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url("../images/sub/sub_bg1.jpg"); background-size:100%;}
.sub_bg2 {background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url("../images/sub/sub_bg2.jpg"); background-size:100%;}
.sub_bg3 {background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url("../images/sub/sub_bg3.jpg"); background-size:100%;}
.sub_bg4 {background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url("../images/sub/sub_bg4.jpg"); background-size:100%;}
.sub_bg5 {background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url("../images/sub/sub_bg5.jpg"); background-size:100%;}
.sub_tit_text {color:#fff; font-weight: bold; text-align: left; max-width: 140rem; margin:0 auto;}
.sub_tit_text h1 {font-size:5.5rem;}
.sub_tit_text h1 span {font-size:2.3rem; color: #b9b9b9; margin: 0rem 0.5rem;}
.sub_tit_text p {font-size:1.6rem; padding: 2rem 0rem; font-weight: 300; line-height: 3rem; word-break: keep-all;}
.introduction_wrap {height: 100%; max-width: 140rem; margin:0 auto;}
.introduction_wrap:before {content: ""; position: fixed; top:0rem; left:0rem; background:#f5f4f4 url("../images/main-letter.jpg"); width: 50%; height: 100%; z-index: -1;  animation: testa 10s infinite;}
.introduction_con {display: flex; min-height: 100%;}
.intr_left_box {width: 50%; min-height: 100%;}
.intr_left_box .intr_left_text { position: sticky; top: 15%;}
.intr_left_box .intr_left_text p {font-size:4rem; font-weight: bold; padding: 5rem 0rem; color:#b1b1b1;}
.intr_left_box .intr_left_text p:last-child {font-size:1.6rem; color:#554c4c; width: 100%; word-break: keep-all; padding-right: 5rem; line-height: 3rem;}
.intr_left_box .intr_left_text h2 {font-size:6.5rem; position: relative; display: inline-block;}
.intr_left_box .intr_left_text h2:after {content: ""; background: #dde5ff; position: absolute; bottom:0px; left:0px; width: 100%; height: 4rem; z-index: -1; animation: testb 6s;}
.intr_right_box {width: 50%; height: 100%;}
.intr_right_con {margin-top: 15%; padding-bottom: 30rem;}
.intr_right_con > ul {padding: 3rem;}
.intr_right_con > ul > li ul {display: flex; padding: 2rem 0rem; position:relative;}
.intr_right_con > ul > li ul:before {content: ""; width: 0.1rem; height: 0%; background: #DBDBDB; position: absolute; top:-150%; left:15%; z-index: -1; transition:all 0.5s;}
.intr_right_con > ul > li ul:after {content: ""; width: 0.1rem; height: 180%; background: #DBDBDB; position: absolute; top:-30%; left:15%; z-index: -2;}
.intr_right_con > ul > li ul li {padding: 2rem 2rem; transition:all 0.5s; flex-direction: column; }
.intr_right_con > ul > li ul li:first-child {font-size:2.5rem; font-weight: bold; width: 30%; text-align: center;}
.intr_right_con > ul > li ul li h3 {background: #fff; padding: 2rem 0rem;}
.intr_right_con > ul > li ul li:last-child {font-size:1.6rem; color:#B1B1B1; display: flex; width: 70%; padding: 3rem 2rem;}
.intr_right_con > ul > li ul li h4 {position: relative; font-size:2rem; padding:1rem 0rem 1rem 1.5rem;}
.intr_right_con > ul > li ul li h4:before {content: ""; position: absolute; background: #fff; border-radius: 100rem; width: 0.5rem; height: 0.5rem; border: 0.4rem solid #b1b1b1; display: inline-block; margin-right:0.5rem; top:50%; left:0%; transform: translate(-50%,-50%);}
.intr_right_con > ul > li ul li p {padding: 0.5rem 0rem 1rem 0rem; font-weight: 400; line-height: 3rem; word-break:keep-all;}
.intr_right_con .on {color: #4067e4;}
.intr_right_con .on li:last-child {color:#2A2A2A; font-weight: bold;}
.intr_right_con .on li:last-child h4:before {border-color: #232323;}
.intr_right_con .aniactive h4:before {border-color: #232323;}
.intr_right_con .aniactive:before {background: #4067e4; height: 170%;}
.intr_right_con .aniactive li:first-child {color:#4067e4;}
.intr_right_con .aniactive li:last-child {color:#2A2A2A; font-weight: bold;  transition:all 0s;}
@keyframes testa {
0% {background-position: 10% 100%;}
50% {background-position: 90% 50%;}
100% {background-position: 100% 100%;}
}
@keyframes testb {
0% {width: 0%;}
50% {width: 100%;}
100% {width: 100%;}
}
/* 서브_공모화면 */
.sub_competitions_wrap {}
.compe_end {position: relative;}
.compe_end:before {content: ""; position: absolute; width: 300%; transform: translateX(-20%); height: 100%; background: #f1f1f1; top: 0rem; z-index: -1;}
.compe_end .compe_sect_collusion p:first-child {background: #767676; color:#fff; border:0.1rem solid #767676;}
.sub_competitions_list {max-width: 140rem; margin:0rem auto; transition: all 0.5s;}
.compe_list_sect {position: relative; padding: 3rem 0rem;}
.compe_list_sect:after {content: ""; position: absolute; bottom: 0rem; left:0rem; width: 300%; transform: translateX(-20%); border-bottom: 0.1rem solid #cecece;}
.compe_list_sect > a {display: block;}
.compe_list_sect > a:hover h3 {background: url("../images/layout/icon_board_list_dot_active.png") 0% 3.3rem no-repeat; color:#8b4a4a;}
.compe_list_sect > a:hover h3:after {content: ""; position:absolute; bottom:2rem; left:0rem; width: 100%; height: 0.2rem; background: #8b4a4a; transition: all 1s;}
.compe_list_sect h3 {position: relative; font-size:2.3rem; padding: 3rem 0rem 3rem 2.5rem; background: url("../images/layout/icon_board_list_dot.png") 0% 3.3rem no-repeat; display: inline-block; word-break: keep-all;}
.compe_list_sect h3:after {content: ""; width: 0%;}
.compe_sect_collusion {display: flex;}
.compe_sect_collusion p {min-width: 11rem; text-align: center; padding: 0.5rem 1rem; font-size:1.8rem; border:0.1rem solid #111; margin-right:0.5rem;}
.compe_sect_collusion p:first-child {color:#d10000; border:0.1rem solid #d10000;}
.compe_sect_list {max-width: 90rem;}
.compe_sect_list ul {display: flex; flex-wrap: wrap;}
.compe_sect_list ul li {display: flex; width: 50%; font-size: 1.8rem; padding: 0rem 0rem;}
.compe_sect_list ul li h4 {position: relative; padding-left:1rem; min-width: 9.5rem; text-align: justify; margin-right:3rem; font-weight: 500;}
.compe_sect_list ul li h4:after {content: ''; display: inline-block; width: 100%;}
.compe_sect_list ul li h4:before {content: ""; width: 0.3rem; height: 0.3rem; background: #111; border-radius: 10rem; display: inline-block; position: absolute; top:0.8rem; left:0rem;}
.compe_sect_list ul li h4 span {position: relative;}
.compe_sect_list ul li h4 span:after {content: ":"; position: absolute; top:-0.2rem; right:-2rem;}
.compe_sect_list ul li p {color:#333; font-weight: 500; letter-spacing: -0.08rem;}
.compe_sect_list ul li b {background: #d10000; color:#fff; height: 2rem; padding: 0.2rem 1rem; margin-left:2rem;}
.compe_dday {color:#d10000 !important;}
.compe_sect_more {position: absolute; bottom:4rem; right:0rem;}
.compe_sect_more a {display: inline-block; min-width: 10rem; text-align: center; padding: 0.7rem 1rem; font-size:1.8rem; border:0.1rem solid #111; margin-left:0.5rem;}
.compe_sect_more a:first-child:hover {color:#d10000; border:0.1rem solid #d10000;}
.compe_sect_more a:last-child {background: #111111;color:#fff;border: 0.1rem solid #111111;}
.compe_sect_more a:last-child:hover {background: #8b4a4a;}
.list_gallery_transform {display: flex; flex-wrap: wrap; gap: 0.5%; margin-top: 3rem;}
.list_gallery_transform .compe_sect_collusion {justify-content: left;}
.list_gallery_transform .compe_end:before {display: none;}
.list_gallery_transform .compe_end { background: #f1f1f1;}
.list_gallery_transform .compe_list_sect {width: 49.7%; border:0.1rem solid #111; margin-bottom: 0.7rem; padding: 2rem;}
.list_gallery_transform .compe_list_sect:after {display: none;}
.list_gallery_transform .compe_list_sect h3 {}
.list_gallery_transform .compe_sect_list ul {flex-direction: column;}
.list_gallery_transform .compe_sect_list ul li {width: 100%;}
.list_gallery_transform .compe_sect_list ul li h4 {margin-right:2rem;}
.list_gallery_transform .compe_sect_list ul li h4 span:after {right: -1.3rem;}
.list_gallery_transform .compe_sect_more {position: static; text-align: left;}


/* 서브_아카이빙 */
.archive_bookmark button {position: relative; font-size:1.6rem; width: auto; min-width: 11rem; color:#111; padding:0rem 0rem 0rem 1.5rem;}
.archive_bookmark button i {font-size:2rem; position: absolute; top:50%; left:1rem; transform: translate(0%,-50%);}
.sub_archive_list {max-width: 140rem; margin:0 auto; display: flex; flex-wrap: wrap; gap: 2%; margin-top: 3rem;}
.archive_list_sect {width: 49%; padding: 1rem 0rem;}
.archive_list_sect a {display: block; position: relative; }
.archive_list_sect a:hover img {transform:scale(1.1); filter: brightness(70%);}
.archive_list_sect a p {overflow: hidden; font-size: 1.6rem; margin:2rem 0rem;}
.archive_list_sect a p img {width: 100%; height: 35rem; object-fit:cover; transform:scale(1); transition: transform 1s ease-in-out;}
.archive_list_sect a h4 {position: relative; display: inline-block; padding: 1rem 0rem; font-weight: 500; font-size: 2.3rem; margin-right: 12rem;}
.archive_list_sect a h4:after {content: ""; width: 0%;}
.archive_list_sect a:hover h4:after {content: ""; position:absolute; bottom:0rem; left:0rem; width: 100%; height: 0.2rem; background: #000000; transition: all 1s;}
.archive_list_sect .bookmark_choice {position: absolute; bottom:0rem; right:2rem;}
.archive_list_sect .bookmark_choice button { background:#111; display: block; padding: 0.5rem 1rem; font-size:1.6rem; color:#fff; border-radius: 100rem; width: 9rem; height: 9rem;  transition: all 0.5s;}
.archive_list_sect .bookmark_choice button i {display: block; font-size: 3rem; padding-bottom: 0.5rem;}
.archive_list_sect .bookmark_choice:hover button {background: #8b4a4a;}
.bookmark_active {background: #d10000 !important; transform: rotateY( 360deg )}
.bookmark_active i {animation: bookmark 0.5s; }
@keyframes bookmark {
0% {font-size:1rem;}
50% {font-size:2rem; margin-bottom: 2rem;}
100% {font-size:3rem;}
}
/* 아카이빙_상세_심사위원 */
.comp_examine ul {display: flex;  gap:1%; flex-wrap: wrap;}
.comp_examine ul li {display: flex; justify-content: space-between; width: 49.5%; border:0.1rem solid #e5e5e5; background: #fff; padding: 3rem; margin-bottom: 1rem;}
.comp_examine ul li h4 {font-size: 1.6rem; border-bottom: 0.1rem solid #cecece; display: inline-block; padding-bottom: 0.5rem; margin-bottom: 1rem;}
.comp_examine ul li p {font-size: 1.6rem; padding: 0.2rem 0rem;}
.comp_examine .comp_examine_photo {overflow: hidden; width: 15rem; height: 15rem;  border-radius: 1rem;}
.comp_examine .comp_examine_photo img {width: 100%; height: 100%; object-fit:cover;}
.copm_img_box {display: flex; text-align: center; gap:1%; flex-wrap: wrap;}
.copm_img_box .copm_card_box {width: 49.5%; overflow: hidden; font-size: 2rem; margin-bottom: 1rem;}
.copm_img_box .copm_card_box .card_img_area {overflow: hidden;}
.copm_img_box .copm_card_box a {display: block;}
.copm_img_box .copm_card_box a:hover img {transform:scale(1.1); filter: brightness(70%);}
.copm_img_box .copm_card_box img {width: 100%; height: 30rem; object-fit:cover; transform:scale(1); transition: transform 1s ease-in-out;}
.copm_img_box .copm_card_box h4 {position: relative; display: inline-block; padding: 1.5rem 0rem; font-weight: 500; font-size: 1.6rem;}
.copm_img_box .copm_card_box h4:after {content: ""; width: 0%;}
.copm_img_box .copm_card_box a:hover h4:after {content: ""; position:absolute; bottom:0rem; left:0rem; width: 100%; height: 0.2rem; background: #000000; transition: all 1s;}
.comp_detail_wrap {max-width: 140rem; margin:3rem auto;}
.comp_detail_wrap h2 {font-size:4rem; padding: 2rem 0rem;}
.comp_detail_contents {display: flex; flex-direction: row-reverse; padding: 3rem 0rem;}
.comp_det_con_left {width: 40%;padding: 0rem 0rem 0rem 2rem;margin-left:5rem;}
.comp_det_con_right {width: 90%;}
.comp_det_info {position: sticky;top: 8rem;}
.comp_det_info ul {border-top:0.2rem solid #111;border-bottom:0.2rem solid #111;}
.comp_det_info ul li {display: flex;border-bottom:0.1rem solid #e9e9e9;padding: 1.5rem 0rem;align-items: center;}
.comp_det_info ul li h3 {width: 30%;font-size:1.6rem;color: #111;min-width: 8rem; font-weight: 600;}
.comp_det_info ul li p {width: 100%;font-size:1.6rem;color: #666666;}
.comp_det_info .comp_det_info_btn {margin:2rem 0rem;}
.comp_det_info .comp_det_info_btn a {display: block; background: #fff; border:0.1rem solid #111; text-align: center; padding: 1.5rem 0rem; font-size: 1.6rem; color:#111; font-weight: bold; margin-bottom: 0.5rem; border-radius: 0.5rem;}
.comp_det_info .comp_det_info_btn a:hover {text-decoration: underline; text-underline-offset: 10px; background: #8b4a4a; color:#fff;}
.comp_con_photo {width: 100%; max-height: 50rem; overflow: hidden;}
.comp_con_photo img {width: 100%;}
.comp_con_navi {margin:2rem 0rem;}
.comp_con_navi ul {display: flex;width: 100%;flex-wrap: wrap;border-bottom: 0.1rem solid #cecece;align-items: center;border-top: 0.1rem solid #cecece;}
.comp_con_navi ul li {width: 100%;border-bottom: 0.1rem solid #cecece;margin-bottom: -1px;}
.det_infot_text p {padding: 0.3rem 0rem;}
.comp_con_navi li:only-child { width: 100%;}                        
.comp_con_navi li:first-child:nth-last-child(2),                    
.comp_con_navi li:first-child:nth-last-child(2)+li { width: 50%; }    
.comp_con_navi li:first-child:nth-last-child(3),                     
.comp_con_navi li:first-child:nth-last-child(3)~li { width: 33.33%; } 
.comp_con_navi li:first-child:nth-last-child(4),                     
.comp_con_navi li:first-child:nth-last-child(4)~li { width: 25%; }    
.comp_con_navi li:first-child:nth-last-child(5),                     
.comp_con_navi li:first-child:nth-last-child(5)~li { width: 20%; }   
.comp_con_navi li:first-child:nth-last-child(6),                     
.comp_con_navi li:first-child:nth-last-child(6)~li { width: 16.66%; }    
.comp_con_navi li:first-child:nth-last-child(7),                     
.comp_con_navi li:first-child:nth-last-child(7)~li { width: 25%;}    
.comp_con_navi li:first-child:nth-last-child(8),                     
.comp_con_navi li:first-child:nth-last-child(8)~li { width: 25%;}    
.comp_con_navi li:first-child:nth-last-child(9),                     
.comp_con_navi li:first-child:nth-last-child(9)~li { width: 20%;}    
.comp_con_navi li:first-child:nth-last-child(10),                     
.comp_con_navi li:first-child:nth-last-child(10)~li { width: 20%;}    
.comp_con_navi ul li button {position: relative;display: block;padding: 1.5rem 0rem;font-size: 1.6rem;text-align: center;width: 100%;}
.comp_con_navi ul li button:hover {text-decoration: underline; text-underline-offset: 10px; color: #8b4a4a;}
.comp_con_navi ul li.con_navi_active {border-top:0.1rem solid #8b4a4a;}
.comp_con_navi ul li.con_navi_active button {position: relative; display: inline-block; background:#8b4a4a; font-weight: bold; color:#fff;}
.comp_con_navi ul li.con_navi_active button:after {content: ""; position: absolute; top:0.7rem; left:50%; transform: translate(-50%,0%); width: 0.5rem; height: 0.5rem; background: #fff; border-radius: 10rem;}
.comp_con_data {background: #f9f9f9;}
.comp_information {padding: 3rem 3rem;}
.comp_examine_btn {display: flex; flex-wrap: wrap; width: 100%; justify-content: flex-end;}
.comp_examine_btn p a {border:0.1rem solid #111; padding: 0.5rem 2.5rem 0.5rem 2rem;display: flex; align-items: center; margin:0.5rem 0rem;}
.comp_examine_btn p a i {font-size: 2rem; margin-right:0.2rem;}
.comp_examine_btn p a:hover {background: #111; color:#fff;}
.comp_examine_text {margin-right: 1rem;}

/* 공모상세_도움말 영역 */
.comp_help_box {position: relative; border: 0.2rem solid #8b4a4a; padding: 3rem 3rem 3rem 13rem; font-size: 1.6rem; background: #fff;}
.comp_help_box:before {content: "\e9ab"; font-family: "xeicon"; position: absolute; top:50%; left:4rem; transform: translate(0%,-50%); font-size:6rem; color:#8b4a4a;}
.comp_help_box h4 {color:#8b4a4a; font-weight: bold; padding: 0.5rem 0rem; font-size: 1.6rem;}
.comp_help_box p {padding: 0.5rem 0rem;}
/* 공모상세_일정 영역 */
.comp_schedule ul {display: flex; flex-wrap: wrap; gap:3rem 2%;}
.comp_schedule ul li {position: relative; width: 49%; font-size: 1.6rem; text-align: center; background: #ffffff; padding: 3rem;}
.comp_schedule ul li b {position: absolute; top:0.5rem; left:50%; transform: translate(-50%,-50%); background: #7f8aa6; color:#fff; padding: 0.5rem 1rem;}
.comp_schedule ul li h4 {padding: 1rem 0rem; font-size: 1.8rem;}
.comp_schedule ul li p span {display: block;}
.schedule_active {border:0.2rem solid #8b4a4a; color:#8b4a4a !important; font-weight: bold !important;}
.schedule_active b {background: #8b4a4a !important;}
.map_kakao {width: 100%; height: 30rem; overflow: hidden; border:0.1rem solid #e5e5e5; margin-top: 2rem;}
/* 공모상세_보상 영역*/
.comp_rewarded ul li {width: 100%; border:0.1rem solid #8b4a4a; background: #fff; margin-bottom: 2rem; overflow: hidden;}
.comp_rewarded ul li:last-child {margin-bottom: 0rem;}
.comp_rewarded ul li:nth-child(1) {}
.comp_rewarded ul li:nth-child(2) {}
.comp_rewarded ul li:nth-child(3) {}
.comp_rewarded ul li h4 {background: #8b4a4a;color:#fff;text-align: left;padding: 1.5rem;font-size: 1.6rem;font-weight: 500;}
.comp_rewarded ul li .comp_rew_box {padding: 3rem;}
.comp_rewarded ul li .comp_rew_box p {font-size: 1.6rem; line-height: 3rem;}
/* 공통 박스 */
.comp_sec {margin-bottom: 5rem;}
.comp_sec h3 {font-size:2.1rem;border-bottom: 0.2rem solid #232323;padding: 2rem 0rem;margin-bottom: 3rem;display: flex;align-items: center;}
.comp_sec h3 i {font-size: 3rem; margin-right: 1rem;}
.comp_data_box {margin: 3rem 0rem;}
.box_outline {background: #fff;padding: 1rem 3rem; border:0.1rem solid #e5e5e5;}
.comp_data_box > h4 {position: relative; font-size: 1.8rem; padding-bottom: 3rem;}
.comp_data_box > h4:before {content: "\ea3f"; font-family: "xeicon"; margin-right: 0.5rem;}
.comp_table th {padding: 1.5rem 0rem;font-size: 1.6rem;background: #5e5e5e;color:#fff;}
.comp_table td {text-align: center;padding: 1.5rem 0rem;font-size: 1.6rem;border-bottom: 0.1rem solid #e9e9e9;background: #fff;}
.copm_text_box {display: flex;padding: 1.5rem 0rem;align-items: center;border-bottom: 0.1rem solid #e7e7e7;}
.copm_text_box:last-child {border-bottom: none;}
.copm_text_box h4 {font-size:1.6rem; width: 15%; min-width: 16rem; padding:0rem 2rem 0rem 0rem; word-break: keep-all; line-height: 2.5rem; font-weight: 600; color:#111;}
.copm_text_box h4:before {content: "\ebd8"; font-family: "xeicon"; margin-right: 0.5rem; color:#5d5d5d; font-size: 1.3rem;}
.copm_text_box p {padding:0rem 2rem 0rem 0rem; line-height: 3rem; color:#666666; font-size: 1.6rem;}
.con_navi_fixed {position: fixed;top: 0px;left:50%;z-index: 999;background: #fff;width: 100%;transform: translate(-50%,0%);box-shadow: 1rem 0.2rem 1.5rem 0rem #b1b1b1;margin:0rem !important;}
.con_navi_fixed li button {padding:2rem 0rem !important;}
.comp_data_box .bo_con_total {font-size: 1.6rem;}
.comp_data_box .board_condition {padding: 1.5rem 0rem;}
.comp_data_box .board_condition .board_condition_left {width: 40%;}
.comp_data_box .board_condition .board_condition_right {width: 100%;}
.comp_data_box .board_condition .search_btn {font-size: 2rem;}

/* 질의 목록 */
.comp_qa_area {padding: 2rem 0rem; font-size: 1.6rem;}
.comp_qa_area button {position: relative;display: flex;width: 100%;text-align: left;padding: 2rem 7rem 2rem 2rem;font-size: 1.6rem;align-items: center;}
.comp_qa_area button i {font-size: 3rem; padding-right: 1rem;}
.comp_qa_area button span {padding: 0.3rem 1rem; background: #d5d9ed; margin-right:1rem; border-radius: 10rem; min-width: 6rem;}
.comp_qa_area button:after {content: "\e945";position: absolute;top:50%;right: 2rem;transform: translate(0%,-50%) rotate( 180deg );font-family: "xeicon";font-size: 2.5rem;transition:all 0.2s ease-in-out;}
.comp_qa_list {margin-bottom: 1rem;background: #f2f3f8;border-radius: 0.5rem;overflow: hidden;}
.comp_qa_box {background: #f6f7f9;padding: 1rem;display: none;}
.comp_qa_box div {border-bottom: 0.1rem solid #cecece; padding: 3rem 2.1rem;}
.comp_qa_box div:last-child {border-bottom: none;}
.comp_qa_box p {padding: 1rem 0rem;}
.comp_qa_box h4 {display: flex; align-items: center; padding: 1rem 0rem;}
.comp_qa_box h4 i {font-size: 3rem; margin-right: 0.5rem;}
.comp_qa_q {padding-top: 2rem !important;}
.comp_qa_q span {display: block; padding-top: 2rem}
.comp_qa_a p {font-weight: bold; background: #f2f3f8; padding: 2rem;}
.qa_active {border:1px solid #8b4a4a; background: #fff;}
.qa_active .comp_qa_box {border-top:0.1rem solid #8b4a4a; background: #fff; display: block !important;}
.qa_active button {background: #8b4a4a; color:#fff}
.qa_active button i {color: #fff; font-weight: bold;}
.qa_active button span {color: #000;}
.qa_active button:after {transform: translate(0%,-50%) rotate( 360deg );}
.qa_completed {background: #5F2F2F !important; color:#fff !important; font-weight: bold;}
.search_btn {padding: 0rem !important; justify-content: center !important; width: 8rem !important; background: #111; color:#fff;}
.search_btn i {margin:0rem !important; padding:0rem !important;}
.search_btn:hover {background: #8b4a4a;}
.search_btn:after {display:none;}
.comp_qa_q h4 {color: #111;background: #f2f3f8;padding-left: 1.5em;}
.comp_qa_a h4 {color: #fff;background: #646775;padding-left: 1.5em;}

/* 공지사항 및 자료실 영역 */
.sub_noti_refe_list{max-width: 140rem; margin:0 auto; margin-top: 3rem;}
.sub_noti_refe_table {width: 100%;}
.sub_noti_refe_table tr {border-bottom: 0.1rem solid #ccc;}
.sub_noti_refe_table th {background: #fff; border-top:0.2rem solid #111; border-bottom: 0.1rem solid #111; color:#111; padding: 2rem 0rem; font-weight: 600; font-size: 1.6rem;}
.sub_noti_refe_table td {background: #fff; color:#666; padding: 2rem 0rem; font-size: 1.6rem; text-align: center;}
.sub_noti_refe_search {display: flex; font-size: 1.6rem; justify-content: space-between; align-items: center; margin-bottom: 2rem;}
.title_text {text-align: left !important; padding:0rem 2rem !important;}	
.title_text a {position: relative;  height: 100%; text-align: left; display: inline-block; color:#111;}
.title_text a:hover {color:#8b4a4a;}	
.title_text a:hover:after {content: ""; position:absolute; bottom:-0.5rem; left:0rem; width: 100%; height: 0.2rem; background: #8b4a4a; transition: all 1s;}
.title_text a:after {content: ""; width: 0%;}
.noti_refe_total {font-size:1.8rem;}
.noti_refe_total b {margin-left:1rem;}
.noti_refe_condition ul  {display:flex;}
.noti_refe_condition ul li {margin-left:0.5rem;}
.noti_refe_condition select {height: 100%;}
.noti_refe_condition .input_serach  {display:flex;}
.noti_refe_condition .input_serach input {font-size: 1.6rem;}
.noti_refe_condition .input_serach button  {font-size: 2rem;}
.noti_important td {background: #f9f9f9; font-weight: bold; color:#111 !important;}
.sub_board_view_area{max-width: 140rem; margin:0 auto; margin-top: 3rem;}
.sub_board_view_container {}
.sub_view_content_text {padding: 0rem 5rem;}
.sub_view_content_text img {width: 100%; max-width: 80rem;}
.sub_view_title {text-align: center; font-size: 1.8rem; border-top:0.2rem solid #111;}
.sub_view_title h2 {padding: 3rem 0rem;}
.sub_view_info {display: flex; background: #f6f6f6; border-top:0.1rem solid #cecece; border-bottom:0.1rem solid #cecece; align-items: center; justify-content: center;}
.sub_view_info dl {display: flex; align-items: center; padding: 0rem 1rem;}
.sub_view_info dl dt {padding: 1.5rem; font-size: 1.6rem; color:#666; font-weight: 600; display: flex; align-items: center;}
.sub_view_info dl dt:after {content: "|"; font-size: 1.3rem;margin-left:1rem;}
.sub_view_info dl dd {font-size: 1.6rem; color:#666; text-align: left;}
.sub_view_content {padding: 3rem; font-size: 1.6rem;}
.sub_view_content p {line-height: 2.5rem; margin: 3rem 0rem;}
.sub_view_img {margin:2rem 0rem; text-align: center;}
.sub_view_utill_file {display: flex; border-top:0.1rem solid #cecece; border-bottom:0.1rem solid #cecece; padding: 1rem 0rem; align-items: center;}
.sub_view_utill_file h3 {width: 10%; min-width: 12rem; text-align: center; font-size: 1.6rem;}
.sub_view_utill_file div {width: 80%; font-size: 1.6rem;}
.sub_view_utill_file div p {padding: 1rem 0rem; display: flex; align-items:center;}
.sub_view_utill_file div p img {margin-right: 0.5rem;}
.sub_view_utill_file div p span {margin-left: 0.5rem; color: #cecece;}
.sub_view_utill_file div p button {border:0.1rem solid #111; padding: 0.5rem 1rem 0.5rem 0.5rem; font-size: 1.6rem;  display: inline-flex; align-items: center; margin-left: 1rem;}
.sub_view_utill_file div p button:hover {background:#111; color:#fff;}
.sub_view_utill_file div p button i {font-size: 2rem;}

/* 회원가입 */
.sub_sign_area {max-width: 140rem; margin:0 auto; margin-top: 3rem;}
.sign_header_area {width: 100%;}
.sign_header_bread {padding: 2rem 0rem;}
.sign_header_bread ul {justify-content: center;display: flex;}
.sign_header_bread ul li {position: relative;border:0.1rem solid #cecece;background: #fff;border-radius: 10rem;width: 3rem;height: 3rem;margin: 0rem 3rem;display: flex;align-items: center;justify-content: center;font-weight: bold;font-size: 1.6rem;}
.sign_header_bread ul li:first-child:before {display: none;}
.sign_header_bread ul li:before {content: "●●●";position: absolute;top:50%;left: -4.5rem;transform:translate(0%,-50%);font-size: 0.7rem;letter-spacing: 0.5rem;color:#cecece;}
.sign_header_bread .active {background: #4067e4; color:#fff; border:0.1rem solid #4067e4;}
.sign_header_bread .active:before {color: #7243e5; }
.sign_header_title h2 {font-size: 4rem;text-align: center;padding: 2rem 0rem;}
.sign_header_text p {font-size:1.6rem;text-align: center;}
.sign_content_area {padding-top:5rem; max-width: 80rem; margin:0 auto;}
.sign_content_list {}
.sign_content_title {background: #f8f8f8; border:0.1rem solid #cecece; padding: 2rem; display: flex; justify-content: space-between;}
.sign_content_title .checkbox {font-size: 1.6rem; font-weight: bold;}
.sign_content_title h3 {font-size: 1.8rem;}
.sign_content_title h3:before {content: "\ea0b"; font-family: "xeicon"; margin-right:1rem;}
.sign_content_title h3 i  {margin-right:0.5rem;}
.sign_content_list_terms {padding: 3rem 0rem;;}
.list_terms_user {display: flex; justify-content: center; gap:1%;}
.list_terms_user button {width: 33.33%; padding: 3rem; border:0.1rem solid #cecece; font-size: 1.8rem;}
.list_terms_user button:hover {background: #f8f8f8;}
.list_terms_user button i {display: block; font-size: 6rem; padding-bottom: 2rem;}
.list_terms_user button.active {border:0.3rem solid #4067e4; color:#4067e4; font-weight: bold;}
.list_terms_list {margin-bottom: 3rem;}
.list_terms_list div {font-size: 1.6rem; border:0.1rem solid #cecece; padding: 1.5rem;}
.list_terms_list .checkbox {font-weight: bold;}
.list_terms_list .checkbox strong {margin:0rem 0.5rem; color: #4067e4;}
.list_terms_text {width: 100%; height: 25rem;  padding: 3rem; overflow: auto; font-size: 1.6rem; border-top:0rem !important;}
.list_terms_authentication {display: flex; gap:1%;}
.list_terms_authentication button {width: 50%; background: #fff; text-align: center; padding: 3rem; border:0.1rem solid #cecece;}
.list_terms_authentication button h4 {font-size: 2.3rem; padding: 1.5rem 0rem;}
.list_terms_authentication button h4 i {display: block; font-size: 8rem; padding-bottom: 2rem;}
.list_terms_authentication button p {font-size: 1.6rem;}
.list_terms_authentication button p:last-child {background: #f7f7f7; margin:2rem 0rem; display: inline-block; padding: 1rem 5rem; border:0.1rem solid #cecece;}
.list_terms_authentication button:hover {color:#fff; background: #1D3FAA;}
.list_terms_authentication button:hover p:last-child {background:#1D3FAA; }
.list_terms_authentication button:hover h4 i {animation: authent 0.3s 5;}
@keyframes authent {
0% {transform: rotate(-5deg);}
50% {transform: rotate(1deg);}
100% {transform: rotate(-5deg);}
}
.input_divide {display: flex; gap:1.5%; align-items: center;}
.list_information_writing button {width: 50%;  height: 100%; padding: 1.2rem 0rem; font-size: 1.6rem; border:0.1rem solid #cecece; display: flex; align-items: center; justify-content: center;}
.list_information_writing button i {font-size: 2rem; margin-right: 0.5rem;}
.list_information_writing button:hover {background: #4067e4; color:#fff;}
.list_information_writing {max-width: 80rem; margin:0 auto;}
.list_information_writing .input {margin-bottom: 3rem;}
.list_information_writing label {font-size: 1.6rem; display: block; font-weight: bold;}
.list_information_writing label strong {margin:0rem 0.5rem; color: #4067e4;}
.list_information_writing input {font-size: 1.6rem; margin:3rem 0rem; border:none; border-bottom: 0.1rem solid #cecece;}
.list_information_writing .select {width: 100%;}
.list_information_writing select {font-size: 1.6rem; margin:3rem 0rem; border:none; border-bottom: 0.1rem solid #cecece; color: #757579;}
.list_information_writing .utill_text {font-size: 1.6rem; padding-bottom: 3rem; color: red;}
.list_information_writing .btn_choice {display: flex; margin: 4rem 0rem; gap:1.5%;  }
.list_information_writing .btn_choice button {width: 100%;}
.list_information_writing .btn_choice button.active {background: #313d65; color:#fff;}
.sign_completed {text-align: center;}
.sign_completed i {font-size: 20rem;}
.ba233 p {transform: rotateY( 360deg); animation:ba233 3s;}
@keyframes ba233 {
0% {transform:translateY(20%) rotateY( 360deg);}
50% {transform:translateY(0%)}
100% {transform:translateY(0%);}
}

/* 로그인 화면 */
.sub_signin_wrap {max-width: 140rem; margin:0 auto; margin-top: 3rem;}
.sub_signin_contents {display: flex;background: #f7f7f7;padding: 3rem 5rem;margin-top: 3rem;gap:9%; align-items: center;}
.signin_contents_left {width: 50%;}
.signin_contents_right {width: 50%;}
.signin_input label {font-size: 1.8rem; font-weight: bold; padding:1rem 0rem; display: block;}
.signin_input input {font-size: 1.6rem; margin:1rem 0rem; border:0.1rem solid #cecece;}
.signin_btn a {display: block;  padding: 2rem; text-align: center; background: #111; font-size: 1.6rem; font-weight: bold; color:#fff; margin: 2rem 0rem;}
.signin_btn a:hover {background: #2149a6; animation: signin_sns 0.5s;}
.signin_id_pas_btn {flex-wrap: wrap; justify-content: flex-end;}
.signin_utill div {width: 100%; display: flex; justify-content: space-between;}
.signin_utill div:first-child{border-bottom:0.1rem dotted #cecece;}
.signin_utill div p {font-size: 1.6rem; padding: 1.5rem 0rem; display: flex; align-items: center; gap:0.5rem;}
.signin_utill div p i {font-size: 2.5rem;}
.signin_utill div p a {display: block; padding: 0.5rem 2rem; border:0.1rem solid #cecece;}
.signin_utill div p a:hover {background: #111; color:#fff;}
.signin_contents_right {border-left:0.1rem solid #cecece;}
.signin_contents_right h3 {font-size: 2rem;text-align: center;padding: 1rem 0rem;}
.signin_contents_right div {display: flex;flex-direction: column;align-items: center;gap:1rem;width: 60%;margin: auto;padding: 1rem 0rem;}
.signin_contents_right div a {display: block; padding: 1.5rem 0rem; width: 100%; text-align: center; font-size: 1.6rem; border-radius: 0.5rem; font-weight: 600; border:1px solid #fff;}
.signin_contents_right div a img {width: 2rem; height: 2rem; margin-right: 1rem;}
.signin_contents_right div a:hover {border:0.1rem solid #111 !important; transform: translateY(0%); animation: signin_sns 0.5s;}
.onepass_signin {background: #fff; border:0.1rem solid #cecece !important;}
.kakao_signin {background: #ffda44;}
.naver_signin {background: #4fbe2a; color:#fff;}
.google_signin {background: #fff; border:0.1rem solid #cecece !important;}
.facebook_signin {background: #196CD7; color:#fff;}
@keyframes signin_sns {
0% { transform: translateY(0%);}
50% { transform: translateY(-10%);}
100% { transform: translateY(0%);}
}
.signin_utill {padding: 0rem 3rem; border:0.1rem solid #f3f3f3;}

/* 아이디, 패스워드 찾기 */
.sub_find_contetns {display: flex; padding: 3rem 5rem;margin-top: 3rem;gap:2%; text-align: left;}
.sub_find_contetns a {font-size: 1.6rem; padding: 1.5rem 2rem; display: block; text-align: center; border-radius: 0.5rem; font-weight: 600; border:0.1rem solid #cecece; background: #fff;}
.sub_find_contetns a:hover {border:0.1rem solid #111 !important; transform: translateY(0%); animation: signin_sns 0.5s;}
.sub_find_contetns > div {width: 50%; background: #f7f7f7; padding: 3rem;}
.sub_find_contetns > div h2 {font-size:2.3rem; padding: 3rem 0rem;}
.sub_find_contetns > div p {font-size:1.6rem;}
.sub_find_contetns .list_information_writing {background: #fff; padding: 3rem; text-align: left; margin-top: 3rem;}
.sub_find_contetns .list_information_writing input,
.sub_find_contetns .list_information_writing select {margin: 1rem 0rem !important;}
.sub_find_contetns .list_information_writing .input input {margin: 1rem 0rem !important;}
.find_phone_ipin_box a {margin-top:3rem;}
.sub_find_contetns .find_ipin {margin-top: 3rem;}
.sub_find_contetns .find_phone h2,
.sub_find_contetns .find_ipin h2,
.sub_find_contetns .find_email h2 {position: relative;}
.sub_find_contetns .find_phone h2:before {content: "\eaf9"; font-family: "xeicon"; position: absolute; top:50%; right:0%; font-size:5rem; font-weight: normal; transform: translateY(-50%);}
.sub_find_contetns .find_ipin h2:before {content: "\e9a7"; font-family: "xeicon"; position: absolute; top:50%; right:0%; font-size:5rem; font-weight: normal; transform: translateY(-50%);}
.sub_find_contetns .find_email h2:before {content: "\ea07"; font-family: "xeicon"; position: absolute; top:50%; right:0%; font-size:5rem;  font-weight: normal; transform: translateY(-50%);}
.find_userfindn_box {width: 100% !important; text-align: center; background: #f7f7f7 !important; padding: 3rem !important;}
.find_results_box h3 {text-align: center; padding: 1rem 0rem 3rem 0rem; font-size: 4rem;}
.find_userfindn h2 {padding: 1rem 0rem !important;}
.find_userfindn h2:before {content: "\eb16"; display: block; font-family: "xeicon"; font-size: 10rem; font-weight: normal; margin-bottom: 2rem;}

/* 신천형황 */
.sub_con_area {padding: 2rem 3rem;border: 0.1rem solid #e9e9e9;}
.sub_tab_area {margin-bottom: 3rem;}
.sub_tab_list {display: flex; gap: 1%;}
.sub_tab_list button {position: relative; font-size: 1.8rem; border: 0.1rem solid #111; width: 100%; padding: 1.5rem 0rem; color: #111; background: #fff;}
.sub_tab_list button:hover {animation: signin_sns 0.5s; background: #f6f7f8;}
.sub_tab_list button.active {background: #8b4a4a;color:#fff;}
.sub_tab_list button.active:after {content: "\e92b";font-family: "xeicon";position: absolute;bottom:-1.5rem;right:1rem;background: #fff;border-radius: 5rem;padding: 0.1rem;font-size: 3rem;color: #8b4a4a;}
.sub_tab_list button span {margin-left:0.5rem;}
.sub_tab_list button span:before {content: "("}
.sub_tab_list button span:after {content: ")"}
.sub_apply_contetns {max-width: 140rem; margin:0 auto; margin-top: 3rem;}
.table_list {margin-bottom: 3rem;}
.table_list_title {display: flex; justify-content: space-between; align-items: center;}
.table_list_title h2 {padding: 2rem 0rem; font-size: 1.8rem;}
.table_list_title h2:before {content: "\ea0b"; font-family: "xeicon"; font-size: 1.8rem; font-weight: normal; margin-right: 0.5rem;}
.table_list_title_utill {display: flex; font-size: 1.6rem; align-items: center;}
.table_list_title_utill button {margin-left:0.5rem;}
.table_list_title_utill p {margin:0rem 1rem;}
.table_area_table th {padding: 1.5rem 2rem;font-size: 1.6rem;background: #f6f7f8;color:#111; border-bottom: 0.1rem solid #e9e9e9;border-top: 0.1rem solid #e9e9e9; text-align: left;}
.table_area_table th strong {margin-left:0.5rem; color: #4067e4; font-size: 1.3rem;}
.table_area_table td {padding: 1.5rem 2rem;font-size: 1.6rem;border-bottom: 0.1rem solid #e9e9e9;border-top: 0.1rem solid #e9e9e9;background: #fff; text-align: left;}
.table_area_table input {border:0.1rem solid #e9e9e9; font-size: 1.6rem; margin:0.2rem 0.5rem;}
.table_area_table select {border:0.1rem solid #e9e9e9; font-size: 1.6rem; margin:0.2rem 0.5rem;}
.table_area_table .select {width: 100%; display: inline-flex;}
.table_area_table .table_input_box {display: flex; width: 100%; align-items: center;}
.table_area_table .table_input_box button {width: 10%; margin-left:1rem; padding: 1.2rem; background: #fff; color:#111; min-width: 10rem;}
.table_area_table .table_input_box button:hover {background: #f6f7f8;}
.table_area_table .btn_choice {display: flex; gap:1.5%; width: 100%; }
.table_area_table .btn_choice button {width: 100%; border:0.1rem solid #e9e9e9; font-size: 1.6rem; margin:0rem; display: flex; align-items: center; justify-content: center;}
.table_area_table .btn_choice button.active {background: #8b4a4a;color:#fff;}
.table_area_table .btn_choice button.active:before {content: "\e92c"; font-family: "xeicon"; font-size: 2rem; margin-right: 0.5rem;}
.table_area_table .table_input_box_threenumber {display: flex; width: 100%; align-items: center;}
.table_area_table .table_input_box_threenumber p {font-size: 2.5rem; margin:0rem 1rem; color:#8F8F8F; margin-bottom: 1rem;}
.sub_hlep_area {position: relative; display: flex; background: #f0f5fb; padding:3rem; border-radius: 1rem; align-items: center; margin-bottom: 5rem;}
.sub_hlep_area .sub_hlep_area_title h2 {font-size:1.8rem; color:#1b3ab7; background: #bfd9ff; padding: 1rem; border-radius: 0.5rem; display: flex; align-items: center; justify-content: center;}
.sub_hlep_area .sub_hlep_area_title h2 i {font-size:3rem; margin-right: 0.5rem;}
.sub_hlep_area .sub_hlep_area_text {font-size: 1.6rem; padding: 0rem 3rem;}
.sub_hlep_area div:nth-child(1) {min-width: 15rem;}
.sub_hlep_area div:nth-child(2) {width: 100%;}
.sub_hlep_area div:nth-child(3) {width: 20%;}
.sub_hlep_area_btn a {padding: 1.5rem; background: #111; display: flex; justify-content: center; font-size: 1.6rem; color:#fff;}
.sub_hlep_area_btn a:hover {animation: signin_sns 0.5s; background: #133398;}
.table_area_table.width_type th {text-align: center; padding: 2rem 0rem;}
.table_area_table.width_type td {text-align: center;}
.no_data i {display: block; font-size: 7rem; color:#CBCBCB; margin-bottom: 2rem;}
.no_data {color:#8A8A8A; font-size: 1.6rem; padding: 3rem 0rem; text-align: center;}

@media screen and (max-width: 1023px){
.comp_information {padding:1rem;}
.introduction_con {flex-direction: column;}
.intr_left_box,
.intr_right_box {width: 100%;}
.introduction_wrap:before {width: 100%; height: 50%; position: absolute;}
.intr_right_con {margin-top: 0rem;}
.intr_right_con > ul {padding:3rem 0rem;}
.intr_right_con > ul > li {border-bottom: 0.1rem solid #cecece;}
.intr_right_con > ul > li:first-child ul {padding-top:0rem;}
.intr_right_con > ul > li ul {padding:2rem 0rem; flex-direction: column;}
.intr_right_con > ul > li ul li {width: 100% !important; text-align: left !important; padding:1rem 0rem;}
.intr_left_box .intr_left_text p {font-size:3rem; padding-bottom: 3rem;}
.intr_left_box .intr_left_text h2 {font-size:6rem;}
.intr_left_box .intr_left_text p:last-child {padding-top:3rem; padding-right:0rem;}
.intr_right_con > ul > li ul:before,
.intr_right_con > ul > li ul:after {display: none;}
.intr_right_con > ul > li ul li:first-child h3 {background: none; padding:0rem;}
.intr_right_con > ul > li ul li:last-child {padding:2rem 0rem;}
.copm_text_box {flex-direction: column; text-align: left; align-items: flex-start;}	
.copm_text_box h4 {padding:0rem 0rem 1rem 0rem; min-width: 100%; text-align: left;}
/* 서브_공모화면 타블릿 */
.compe_sect_more {position: static;}
.compe_sect_more a {margin-left:0rem; margin-right:0.5rem;}
.compe_sect_list {max-width:100%; width: 100%;}
.compe_sect_list ul li h4 {margin-right:2rem;}
.compe_sect_list ul li h4 span:after {right:-1.2rem;}
	
/* 서브_공모_상세화면 타블릿 */
.comp_detail_contents {flex-direction: column;}
.comp_data_text_sec .copm_text_box {flex-direction: column;}
.comp_det_con_left {width: 100%; margin-left:0rem; padding:0rem;}
.comp_det_info ul {display: flex; flex-wrap: wrap;}
.comp_det_info ul li {width: 100%;padding: 1.3rem 3rem 1.3rem 0rem;}
.comp_det_con_right {width: 100%; margin-top: 1.5rem;}
.comp_data_text_sec .copm_text_box h4 {padding:0rem 0rem 1rem 0rem; min-width: 100%;}
.comp_data_text_sec .copm_text_box p {padding:0rem;}
.comp_schedule ul li {width: 100%;}
.comp_help_box {padding: 3rem 3rem 3rem 3rem; text-align: center;}
.comp_help_box:before {content: "\e9ab"; font-family: "xeicon"; position: absolute; top:1.5rem; left:50.2%; transform: translate(-50%,0%); font-size: 7rem;}
.comp_help_box h4 {color:#8b4a4a; font-weight: bold; padding: 0.5rem 0rem; font-size: 1.8rem; margin-top: 7rem; text-align: center;}
.comp_help_box p {padding: 0.5rem 0rem;}
.comp_data_box .bo_con_condition {justify-content: center;}
.comp_data_box .board_condition {align-items: center; text-align: center;}
/* 서브_공모_상세화면 질의 응답 */
.comp_qa_box {text-align: left; padding:1rem;}
.comp_qa_area button i {display: none;}
.comp_qa_area button {flex-direction: column; align-items: flex-start; padding:2rem 5rem 2rem 2rem;}
.comp_qa_area button span {margin-bottom: 1rem;}
.comp_qa_area button:after {right: 2rem;}

/* 서브_아카이빙_상세화면 */
.comp_examine ul {flex-direction: column;}
.comp_examine ul li {width: 100%;}
.comp_examine_btn {justify-content:center;}
.comp_examine_btn p {width: 100%; padding: 0rem;}
.comp_con_navi ul li button {letter-spacing: -0.1rem;}

/* 서브_공지사항 및 자료실 */
.sub_view_content_text {padding: 0rem;}
.sub_view_utill_file {flex-direction: column; align-items:flex-start;}
.sub_view_utill_file h3 {text-align: left; padding: 2rem 0rem;}
.sub_view_utill_file div {width: 100%;}

/* 로그인 화면 */
.sub_signin_contents {flex-direction: column;}
.signin_contents_left {width: 100%;}
.signin_contents_right {width: 100%;border-left: none;}
.signin_contents_right div {width: 100%;}
	
/* 아이디, 패스워드 찾기 */
.sub_find_contetns {flex-direction: column;}
.sub_find_contetns > div {width: 100%; background: #fff; padding:0rem;}
.sub_find_contetns .find_phone {background: #f7f7f7; padding: 2rem;} 
.sub_find_contetns .find_ipin {background: #f7f7f7; padding: 2rem;} 
.sub_find_contetns .find_email {background: #f7f7f7; padding: 2rem; margin-top: 3rem;} 
}

@media screen and (max-width: 900px){
.compe_sect_list ul {margin-bottom: 2rem;}
.compe_sect_list ul li {width: 100%;}
.board_condition {flex-direction: column;}
.compe_sect_list ul li p {letter-spacing: 0rem;}
.list_gallery_transform {flex-direction: column;}
.list_gallery_transform .compe_list_sect {width: 100%;}
.board_condition_left,
.board_condition_right {width: 100% !important; margin:0.5rem 0rem;}
.board_condition {align-items: flex-end;}

}

@media screen and (max-width: 769px){

/* 서브_상단_모바일 */
.header {height: 5rem;}
.sub_title_area {padding:9rem 3rem 4rem 3rem;}
.sub_tit_text h1 {font-size: 3.5rem; text-align: center;}
.sub_tit_text h1 span {display: none;}
.sub_tit_text p {display: none;}	
.login_area_after .alarm_count {top:0.7rem;}
.sub_breadcrumbs_area  {padding:0rem 3rem;}
.sub_bread_nav ul li {width: auto; margin-right: 1rem;}
.sub_bread_nav ul li a {padding:1rem 0rem; font-size: 1.4rem;}
/* 서브_아카이빙_모바일*/
.sub_archive_list {flex-direction: column;}
.archive_list_sect {width: 100%;}
.copm_img_box {flex-direction: column;}
.copm_img_box .copm_card_box {width: 100%;}
	
/* 서브_공모_모바일 */
.comp_con_navi ul li {width: 33.3% !important;}
.comp_detail_wrap h2 {padding: 0rem 0rem; font-size: 3rem;}
.con_navi_fixed li button {padding: 1.5rem 0rem !important;}

/* 공지사항 및 자료실 영역_mo */
.sub_noti_refe_search {flex-direction: column-reverse;}
.noti_refe_left {margin-top:2.5rem;}
.noti_refe_condition ul {flex-direction: column;}
.noti_refe_condition ul li {margin-top: 0.5rem; width: 100%; margin-left:0rem;}
.noti_refe_total {margin-bottom: 2rem;}
.noti_refe_right {width: 100%;}
.sub_noti_refe_table col {width: 100% !important;}
.sub_noti_refe_table thead {display: none;}
.sub_noti_refe_table tr {border-bottom: 0.1rem solid #ccc; padding: 1rem 1rem; display: block;}
.sub_noti_refe_table th {}
.sub_noti_refe_table td {display: block; width: 100%; text-align: left !important; padding: 0.5rem 0rem !important;}
.noti_important {background: #f9f9f9;}
.sub_view_utill_file div p {flex-wrap:wrap;}
.sub_view_utill_file div p button {margin:1rem;}	

/* 회원가입 영역 */
.list_terms_authentication {flex-direction: column;}
.list_terms_authentication button {width: 100%; margin-bottom: 1rem;}
	
/* 아이디 비밀번호 찾기 */
.sub_find_contetns {padding: 0rem;}
.sub_find_contetns > div {text-align: center;}
.sub_find_contetns h2 {padding:1.5rem 0rem 1.5rem 0rem !important;}
.sub_find_contetns h2:before {display: none;}
.sub_find_contetns .input_divide {flex-direction: column;}
	
/* 신천형황 */
.sub_con_area {padding: 0rem 2rem;}
.table_area_table .btn_choice,
.table_area_table .table_input_box,
.table_area_table .table_input_box_threenumber {flex-direction: column;}
.table_area_table .table_input_box button {width: 100%;}
.table_area_table input {margin:0.5rem 0rem;}
.table_area_table .table_input_box button {margin:0.5rem 0rem;}
.table_area_table .table_input_box_threenumber p {margin:0rem;}
.table_area_table select {margin:0.5rem 0rem;}
.sub_hlep_area {flex-direction: column; text-align: center;}
.sub_hlep_area .sub_hlep_area_title h2 {margin-bottom: 2rem;}
.sub_hlep_area div:nth-child(1) {min-width: 100%;}
.sub_hlep_area div:nth-child(2) {width: 100%; margin: 1rem 0rem;}
.sub_hlep_area div:nth-child(3) {width: 100%; margin: 2rem 0rem;}
.sub_tab_list {flex-wrap: wrap;}
.sub_tab_list button {width: 49%; margin-bottom: 0.5rem;}
.sub_tab_list button.active:after {bottom: 1rem; font-size: 2.5rem; background: none; color:#fff;}
}

